Source: libcariad-core
Section: main
Priority: extra
Maintainer: Matt Jenkins <matt@majenko.co.uk>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4

Package: libcariad-core
Replaces: libdisplaycore-core
Section: main
Architecture: all
XBSC-Group: Cariad
XBSC-Subgroup: Core
Provides: Cariad.h
Description: Core files
 These are the main core files for the Cariad system. 
 All the other libraries rely on these files.



